<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40417742641-7d42rfgo5qghrgus8094dh56ju7eovft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40417742641-7d42rfgo5qghrgus8094dh56ju7eovft</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>40417742641-adthb3hv3rs84qi9mt3c2jijmsgdidn4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCsnygu70fYRH73QcQUKEgovWahgIqEu5I</string>
	<key>GCM_SENDER_ID</key>
	<string>40417742641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.easyMoney</string>
	<key>PROJECT_ID</key>
	<string>easy-money-76612</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-money-76612.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40417742641:ios:185aa070b06ce11bb52a10</string>
</dict>
</plist>